.section-langages{
    text-align: center;
    
}

.parallax-portefolio{
    background-image: url(./../../img/projets.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}


.projets {
    width: 220px;
    height: 220px;
    position: relative;
    margin-top: 20px;
  text-align: center;
  margin-right: auto; 
  margin-left:  auto;

    img{
        width: 100%;
    }
    
    &:hover .text {
        opacity: 1; 
    }
    
    .text {
        color: #FFF;
  width: 220px;
  height: 220px;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  top: 0;
  opacity: 0;
  display: block;
  position: absolute;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out; 
    }
}
  
